<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <h1>Proyectos de grado</h1>
        <span class="menu-spacer"></span>
        
        <div>
            <button mat-icon-button routerLink="/" (click)="changeMessage()">
                <mat-icon>refresh</mat-icon>
            </button>
            <a mat-button routerLink="reporte" (click)="changeMessage()">
                <mat-icon>list_alt</mat-icon>
            </a>
        </div>
        
    </mat-toolbar-row>
    <!--
    <mat-toolbar-row>
        <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
      </mat-toolbar-row>
    -->
</mat-toolbar>