<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="nombregrupo">
      <th mat-header-cell *matHeaderCellDef> Grupo </th>
      <td mat-cell *matCellDef="let element"> {{element.nombregrupo}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="nombreproyecto">
      <th mat-header-cell *matHeaderCellDef> Proyecto </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreproyecto}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="curso">
      <th mat-header-cell *matHeaderCellDef> Curso </th>
      <td mat-cell *matCellDef="let element"> {{element.curso}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="nombrecompleto">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombrecompleto}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
  </table>