/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
simple-snack-bar span {
    margin: auto;
    text-align: center;
}

button:focus {
    outline: none;
}

.success-dialog {
    color: #080808 !important;
    background-color: #7bcf64 !important;    
}

.info-dialog {
    color: white !important;
    background-color: #cee0fc !important;    
}

.error-dialog {    
    color: white !important;
    background-color: red !important;    
}

.mat-snack-bar-container {
    min-width: 700px !important;
    font-size: 11px !important;
 }

 .mat-simple-snackbar {
    font-size: 12px !important;
 }

 simple-snack-bar span {
    margin-left: 1px !important;
    text-align: left;
}
